// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "variables";

html {
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.2em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $lightblue;
}
 
body::-webkit-scrollbar-thumb {
  background-color: $yellow;
  border-radius: 5px;
}

.bg-theme {
  background-color: $lightblue;
}

.navbar-brand {
  font-weight: 800;
  letter-spacing: -0.5px;
  span {
    color: $yellow;
  }
}

.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 999;
}


.navbar-nav .nav-link {
  padding-inline: 1.5rem !important;

  &:hover{
    color: $yellow !important;
  }
}

.navbar-nav .nav-item:last-child {
  background-color: $yellow;
  border-radius: 50px;
  border: 1px solid $yellow;
  transition: all 0.5s;

  .nav-link {
    color: $lightblue;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 2;
    font-weight: 500;
    transition: all 0.5s;
  }
  &:hover {
    background-color: transparent;
    border: 1px solid $yellow;

    .nav-link {
      color: #fff;
      
    }
  }
}

// Mobile Navigation Menu

.mobile-navbar {
  display: none;
  background-color: $lightblue;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 2.2rem 0.2rem 2rem 0.2rem;
  border-radius: 35px 35px 0 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 35px 15px rgba(#000, 0.5);
  transition: all .4s;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  li {
    text-align: center;
    color: rgba($yellow, 0.2);
    a {
      color: $yellow;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      line-height: 0.5;

      span {
        font-size: 11px;
        display: block;
        color: rgba(#fff, 0.5);
      }
    }
  }
  .go-top {
    position: absolute;
    left: 50%;
    top: -15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: $lightblue;
    transform: translateX(-50%);
    box-shadow: 0 -2px 0 $yellow;
    // border: 2px solid rgba(#fff, 0.5);

    a {
      line-height: 35px;
      vertical-align: center;
    }
  }
}

@media (max-width: 600px) {
  .mobile-navbar {
    display: block;
  }
}

.banner-area {
  background-color: $darkblue;
  height: calc(100vh - 80px);
  display: grid;
  align-items: center;

  h3 {
    color: $yellow;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  h1 {
    color: #fff;
    font-size: 85px;
    font-weight: 900;
    letter-spacing: -3px;

    span {
      color: $yellow;
    }
  }
  h2 {
    font-size: 20px;
    color: $textcolor;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.6rem;

    span {
      color: $yellow;
    }
  }

  p {
    color: $textcolor;
    padding: 1rem 0;
  }
}

.button-group {
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: $yellow;
  color: $darkblue;
  padding: 0.8em 2em;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid $yellow;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: $darkblue;
    z-index: -1;
    transform: rotate(90deg) translateX(-100%) scale(0);
    transition: all 0.5s;
    border-radius: 2rem;
  }

  &:hover {
    color: #fff;

    &::before {
      transform: rotate(0) translateX(0%) scale(1.5);
      opacity: 1;
    }
  }
}
.primary-btn-outline {
  background-color: transparent;
  color: #fff;
  padding: 0.8em 2em;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid $yellow;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    inset: 0;
    background-color: $yellow;
    z-index: -1;
    transform: rotate(90deg) translateX(-100%) scale(0);
    transition: all 0.5s;
    border-radius: 2rem;
  }

  &:hover {
    color: $darkblue;

    &::before {
      transform: rotate(0) translateX(0%) scale(1.5);
      opacity: 1;
    }
  }
}

.short-intro {
  width: calc(min(800px, 95%));
  height: 150px;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  background-color: #0d0b21;
  margin: 0 auto;
  border-radius: 500px;
  margin-top: -102px;
  position: relative;
  z-index: 99;

  &-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #fff;
    border-right: 1px solid rgba(#fff, 5%);
    padding-inline: 2rem;

    &:last-child {
      border-right: 0;
    }

    h3 {
      font-size: 18px;
      margin: 0;

      span {
        font-size: 16px;
        color: $yellow;
      }
    }

    .icon {
      width: 60px;
      height: 60px;
      background-color: $yellow;
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-right: 1rem;

      img {
        max-width: 100%;
        height: 40px;
      }
    }
  }
}

.curve-divider {
  margin-top: -50px;
}

.about {
  width: 100%;
  // background-color: $lightblue;
  background-image: url(../img/about-bg.svg);
  background-position: 30% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -338px;
  padding: calc(338px + 50px) 0 (200px + 50px) 0;
  color: #fff;

  position: relative;
  z-index: -1;

  h3 {
    color: $yellow;
    font-size: 18px;
  }

  h2 {
    font-weight: 700;
    font-size: 45px;
    margin: 0;
  }

  p {
    color: $textcolor;
  }

  .about-image {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
    border-radius: 5px;

    &::before {
      content: "";
      border-top: 1px solid $yellow;
      border-left: 1px solid $yellow;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      content: "";
      border-bottom: 1px solid $yellow;
      border-right: 1px solid $yellow;
      width: 80px;
      height: 80px;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      right: 0;
      animation: rotate 10s alternate infinite ease;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &::before {
    content: attr(data-content);
    position: absolute;
    top: 150px;
    font-size: 250px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.05;
    font-weight: 900;
  }

  .hobbies-area {
    margin-top: 2rem;

    h5 {
      font-size: 18px;
      font-weight: 600;

      span {
        color: $yellow;
      }
    }
    ul {
      margin: 1rem 0 0 0;
      padding: 0;
      display: flex;
      list-style: none;

      li {
        margin-right: 2rem;

        img {
          width: 30px;
          height: 30px;
          padding: 5px;
          margin-right: 0.5rem;
          border-radius: 50%;
          background-color: $yellow;
          box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  .about-curve-divider {
    position: relative;
    margin-top: -70px;
  }
}

.divider {
  background-color: $yellow;
  width: 50px;
  height: 2px;
  margin: 0.5rem 0;
}

.expertise-area {
  padding: 150px 0 250px 0;
  margin-top: -3px;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(10%2c 9%2c 25%2c 1)'%3e%3c/rect%3e%3cpath d='M1115.929282765955 70.66759135484845L1217.1369252962636 63.5904635683855 1210.0597975098005-37.61717896192316 1108.8521549794918-30.540051175460206z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M164.22530515113294 107.25058401733925L304.73578787742713 185.13681641652192 382.62202027660976 44.62633369022777 242.11153755031563-33.25989870895491z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M51.488335886668374 362.25198537440104L206.1737969411976 412.5123383918857 101.74868890415303 207.56652431987183z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M676.9142136790647 522.9981915832486L795.2858164862458 396.30248109036324 648.2190742575018 359.63462396581764z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M727.0410117283634 332.76569797934644L683.5540726522288 421.92713622567 772.7155108985523 465.4140753018046 816.2024499746869 376.25263705548105z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1199.9691657913258 351.4884285276534L1210.2429918351645 253.7395032072891 1112.4940665148001 243.46567716345055 1102.2202404709615 341.2146024838148z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M100.56450089180004 491.65298506734376L91.13413416770703 356.79245786768826-43.726393031948476 366.22282459178126-34.29602630785547 501.08335179143677z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 3s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -20px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -50px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 7s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  color: #fff;
  position: relative;

  min-height: 700px;

  &::before {
    content: attr(data-content);
    position: absolute;
    top: -100px;
    font-size: 250px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.05;
    font-weight: 900;
  }

  &::after {
    content: "";
    position: absolute;
    top: -150px;
    width: 100%;
    height: 250px;
    background-color: #100f2e;
    z-index: -1;
  }

  .section-heading {
    text-align: center;

    .subtitle {
      color: #ffb633;
      font-size: 18px;
    }
    .title {
      font-weight: 700;
      font-size: 45px;
      margin: 0;
    }
    .divider {
      margin-inline: auto;
    }
  }

  .nav {
    margin-top: 2rem;
    justify-content: center;
    border-bottom: 1px solid rgba(#fff, 0.1);
  }

  .nav-pills .nav-link {
    color: rgba(#fff, 0.4);
    padding-inline: 1rem !important;
    border-right: 1px solid rgba(#fff, 0.1);
    border-radius: 0;
    width: 250px;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      background-color: $yellow;
      position: absolute;
      bottom: -1.5px;
      left: 50%;
      transform: translateX(-50%) scale(0);
      transition: all 0.5s;
      transform-origin: center;
    }

    &:hover {
      color: $yellow;
    }

    &.active {
      background-color: transparent;
      color: #fff;

      &::before {
        transform: translateX(-50%) scale(1);
      }
    }
  }
  .nav-item:last-child .nav-link {
    border-right: 0;
  }

  .skill-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      width: calc((100% / 2));
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(#fff, 0.1);

      span {
        display: block;
        font-size: 14px;
        color: rgba(#fff, 0.5);
      }

      .icon {
        width: 50px;
        height: 50px;
        padding: 0.5rem;
        background-color: $yellow;
        border: 5px solid $darkblue;
        box-shadow: 0 0 0 1px $yellow;
        border-radius: 50%;
        margin-right: 1rem;
        display: grid;
        place-content: center;

        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
          // filter: invert(1);
        }
      }

      &:nth-child(odd) {
        justify-content: flex-end;
        border-right: 1px solid rgba(#fff, 0.1);
        text-align: right;

        .icon {
          order: 1;
          margin-right: 0;
          margin-left: 1rem;
        }
      }
    }
    &.p-lang {
      justify-content: center;
      li {
        width: calc(100% / 4);
        text-align: left;
        justify-content: flex-end;

        &:nth-child(odd) {
          border-right: 0.5px solid rgba(#fff, 0.1);
          border-left: 0.5px solid rgba(#fff, 0.1);
        }
        &:nth-child(even) {
          border-left: 0.5px solid rgba(#fff, 0.1);
        }

        &:first-child {
          border-left: 0;
        }

        .icon {
          order: 1;
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}

.expertise-svg-curve {
  margin-top: -340px;
  position: relative;
  z-index: 5;
}

.expertise-area.learing {
  background: #100f2e;
  min-height: auto;
  padding-bottom: 200px;

  .learning-item {
    margin-top: 2rem;

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 1rem;

      i {
        color: $yellow;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin-bottom: 1rem;
      position: relative;
      padding-left: 1rem;

      span {
        display: block;
        color: $yellow;
      }

      &::before {
        content: "";
        width: 2px;
        height: 80%;
        background-color: $yellow;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.contact-info {
  padding: 0 0 0 0;
  margin-top: -2px;
  background-color: $darkblue;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background-color: $darkblue;
    position: absolute;
    top: -100px;
    left: 0;
    clip-path: polygon(100% 100%, 50% 0, 0 100%);
  }

  .form-widget-inner {
    padding: 5rem 3rem;
  }

  .form-widget {
    background-color: #0d0b21;
    position: relative;
    margin-top: -85px;
    position: relative;
    border-radius: 0.2rem;
    transition: all 0.2s;

    &:focus-within {
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(../img/mail-open-outline.svg);
        background-size: 100% 100%;
        left: 3rem;
        top: 50px;
        transition: all 0.5s;
        animation: updown 3s infinite ease-in-out;
      }
      p {
        letter-spacing: 1px;
      }
    }

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      background-color: $yellow;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: -10px;
    }

    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 45px;
      margin: 0;
      letter-spacing: -1px;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $yellow;
        border-radius: 50%;
        right: 69px;
        top: 6px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $yellow;
        border-radius: 50%;
        left: 64px;
        top: 25px;
        animation: scaling 3s infinite ease-in-out;
      }

      span {
        color: $yellow;
      }
    }
    p {
      color: $yellow;
      margin-bottom: 2rem;
      transition: all 0.5s;
    }

    .form-widget-curve-divider {
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: #0a0919;
    }
  }

  .form-control {
    border-color: rgba($yellow, 0.3);
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0.8rem;
    height: 50px;
    color: #fff;
    box-shadow: none;

    &::placeholder {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 5px;
    }
  }
  textarea.form-control {
    height: 100px;
  }
}

// Animations
@keyframes scaling {
  50% {
    transform: scale(0.6);
  }
}

@keyframes updown {
  50% {
    transform: translateY(-8px);
  }
}
@keyframes rotate {
  50% {
    transform: rotateZ(5deg);
  }
}



footer {
  background-color: $darkblue;
  text-align: center;
  padding-bottom: 3rem;
  margin-top: -2px;

  p {
    margin: 0;
    padding: 0;
    color: rgba(#fff, 0.3);
  }

  a {
    color: $yellow;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      color: #fff;
    }
  }
}


