@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

.bg-theme {
  background-color: #100f2e;
}

.navbar-brand {
  font-weight: 800;
  letter-spacing: -0.5px;
}

.navbar-brand span {
  color: #ffb633;
}

.navbar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 999;
}

.navbar-nav .nav-link {
  padding-inline: 1.5rem !important;
}

.navbar-nav .nav-item:last-child {
  background-color: #ffb633;
  border-radius: 50px;
  border: 1px solid #ffb633;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-nav .nav-item:last-child .nav-link {
  color: #100f2e;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 2;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-nav .nav-item:last-child:hover {
  background-color: transparent;
  border: 1px solid #ffb633;
}

.navbar-nav .nav-item:last-child:hover .nav-link {
  color: #fff;
}

.mobile-navbar {
  display: none;
  background-color: #100f2e;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 3rem 0.2rem 2rem 0.2rem;
  border-radius: 35px 35px 0 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 35px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 35px 15px rgba(0, 0, 0, 0.5);
}

.mobile-navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mobile-navbar li {
  text-align: center;
}

.mobile-navbar li a {
  color: #ffb633;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  line-height: 0.5;
}

.mobile-navbar li a span {
  font-size: 11px;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.mobile-navbar .go-top {
  position: absolute;
  left: 50%;
  top: -20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: #100f2e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile-navbar .go-top a {
  line-height: 35px;
  vertical-align: center;
}

@media (max-width: 600px) {
  .mobile-navbar {
    display: block;
  }
}

.banner-area {
  background-color: #0a0919;
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-area h3 {
  color: #ffb633;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.banner-area h1 {
  color: #fff;
  font-size: 85px;
  font-weight: 900;
  letter-spacing: -3px;
}

.banner-area h1 span {
  color: #ffb633;
}

.banner-area h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

.banner-area h2 span {
  color: #ffb633;
}

.banner-area p {
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: #ffb633;
  color: #0a0919;
  padding: 0.8em 2em;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ffb633;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.primary-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #0a0919;
  z-index: -1;
  -webkit-transform: rotate(90deg) translateX(-100%) scale(0);
          transform: rotate(90deg) translateX(-100%) scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2rem;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover::before {
  -webkit-transform: rotate(0) translateX(0%) scale(1.5);
          transform: rotate(0) translateX(0%) scale(1.5);
  opacity: 1;
}

.primary-btn-outline {
  background-color: transparent;
  color: #fff;
  padding: 0.8em 2em;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ffb633;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;
}

.primary-btn-outline::before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  inset: 0;
  background-color: #ffb633;
  z-index: -1;
  -webkit-transform: rotate(90deg) translateX(-100%) scale(0);
          transform: rotate(90deg) translateX(-100%) scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2rem;
}

.primary-btn-outline:hover {
  color: #0a0919;
}

.primary-btn-outline:hover::before {
  -webkit-transform: rotate(0) translateX(0%) scale(1.5);
          transform: rotate(0) translateX(0%) scale(1.5);
  opacity: 1;
}

.short-intro {
  width: calc(min(800px, 95%));
  height: 150px;
  padding-block: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0d0b21;
  margin: 0 auto;
  border-radius: 500px;
  margin-top: -102px;
  position: relative;
  z-index: 99;
}

.short-intro-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #fff;
  border-right: 1px solid white;
  padding-inline: 2rem;
}

.short-intro-item:last-child {
  border-right: 0;
}

.short-intro-item h3 {
  font-size: 18px;
  margin: 0;
}

.short-intro-item h3 span {
  font-size: 16px;
  color: #ffb633;
}

.short-intro-item .icon {
  width: 60px;
  height: 60px;
  background-color: #ffb633;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-right: 1rem;
}

.short-intro-item .icon img {
  max-width: 100%;
  height: 40px;
}

.curve-divider {
  margin-top: -50px;
}

.about {
  width: 100%;
  background-image: url(../img/about-bg.svg);
  background-position: 30% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -338px;
  padding: calc(338px + 50px) 0 250px 0;
  color: #fff;
  position: relative;
  z-index: -1;
}

.about h3 {
  color: #ffb633;
  font-size: 18px;
}

.about h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}

.about p {
  color: rgba(255, 255, 255, 0.8);
}

.about .about-image {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  border-radius: 5px;
}

.about .about-image::before {
  content: "";
  border-top: 1px solid #ffb633;
  border-left: 1px solid #ffb633;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.about .about-image::after {
  content: "";
  border-bottom: 1px solid #ffb633;
  border-right: 1px solid #ffb633;
  width: 80px;
  height: 80px;
  background-color: #ffb633;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about .about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.about::before {
  content: attr(data-content);
  position: absolute;
  top: 150px;
  font-size: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.05;
  font-weight: 900;
}

.about .hobbies-area {
  margin-top: 2rem;
}

.about .hobbies-area h5 {
  font-size: 18px;
  font-weight: 600;
}

.about .hobbies-area h5 span {
  color: #ffb633;
}

.about .hobbies-area ul {
  margin: 1rem 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.about .hobbies-area ul li {
  margin-right: 2rem;
}

.about .hobbies-area ul li img {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #ffb633;
  -webkit-box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3);
}

.about .about-curve-divider {
  position: relative;
  margin-top: -70px;
}

.divider {
  background-color: #ffb633;
  width: 50px;
  height: 2px;
  margin: 0.5rem 0;
}

.expertise-area {
  padding: 150px 0 250px 0;
  margin-top: -3px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(10%2c 9%2c 25%2c 1)'%3e%3c/rect%3e%3cpath d='M1115.929282765955 70.66759135484845L1217.1369252962636 63.5904635683855 1210.0597975098005-37.61717896192316 1108.8521549794918-30.540051175460206z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M164.22530515113294 107.25058401733925L304.73578787742713 185.13681641652192 382.62202027660976 44.62633369022777 242.11153755031563-33.25989870895491z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M51.488335886668374 362.25198537440104L206.1737969411976 412.5123383918857 101.74868890415303 207.56652431987183z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M676.9142136790647 522.9981915832486L795.2858164862458 396.30248109036324 648.2190742575018 359.63462396581764z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M727.0410117283634 332.76569797934644L683.5540726522288 421.92713622567 772.7155108985523 465.4140753018046 816.2024499746869 376.25263705548105z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1199.9691657913258 351.4884285276534L1210.2429918351645 253.7395032072891 1112.4940665148001 243.46567716345055 1102.2202404709615 341.2146024838148z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M100.56450089180004 491.65298506734376L91.13413416770703 356.79245786768826-43.726393031948476 366.22282459178126-34.29602630785547 501.08335179143677z' fill='rgba(38%2c 34%2c 90%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 3s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -20px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -50px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 7s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  color: #fff;
  position: relative;
  min-height: 700px;
}

.expertise-area::before {
  content: attr(data-content);
  position: absolute;
  top: -100px;
  font-size: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.05;
  font-weight: 900;
}

.expertise-area::after {
  content: "";
  position: absolute;
  top: -150px;
  width: 100%;
  height: 250px;
  background-color: #100f2e;
  z-index: -1;
}

.expertise-area .section-heading {
  text-align: center;
}

.expertise-area .section-heading .subtitle {
  color: #ffb633;
  font-size: 18px;
}

.expertise-area .section-heading .title {
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}

.expertise-area .section-heading .divider {
  margin-inline: auto;
}

.expertise-area .nav {
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.expertise-area .nav-pills .nav-link {
  color: rgba(255, 255, 255, 0.4);
  padding-inline: 1rem !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  width: 250px;
  text-align: center;
  position: relative;
}

.expertise-area .nav-pills .nav-link::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #ffb633;
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.expertise-area .nav-pills .nav-link:hover {
  color: #ffb633;
}

.expertise-area .nav-pills .nav-link.active {
  background-color: transparent;
  color: #fff;
}

.expertise-area .nav-pills .nav-link.active::before {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.expertise-area .nav-item:last-child .nav-link {
  border-right: 0;
}

.expertise-area .skill-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.expertise-area .skill-list li {
  width: calc((100% / 2));
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.expertise-area .skill-list li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.expertise-area .skill-list li .icon {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  background-color: #ffb633;
  border: 5px solid #0a0919;
  -webkit-box-shadow: 0 0 0 1px #ffb633;
          box-shadow: 0 0 0 1px #ffb633;
  border-radius: 50%;
  margin-right: 1rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.expertise-area .skill-list li .icon img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.expertise-area .skill-list li:nth-child(odd) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-align: right;
}

.expertise-area .skill-list li:nth-child(odd) .icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 0;
  margin-left: 1rem;
}

.expertise-area .skill-list.p-lang {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expertise-area .skill-list.p-lang li {
  width: calc(100% / 4);
  text-align: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.expertise-area .skill-list.p-lang li:nth-child(odd) {
  border-right: 0.5px solid rgba(255, 255, 255, 0.1);
  border-left: 0.5px solid rgba(255, 255, 255, 0.1);
}

.expertise-area .skill-list.p-lang li:nth-child(even) {
  border-left: 0.5px solid rgba(255, 255, 255, 0.1);
}

.expertise-area .skill-list.p-lang li:first-child {
  border-left: 0;
}

.expertise-area .skill-list.p-lang li .icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 0 1rem;
}

.expertise-svg-curve {
  margin-top: -340px;
  position: relative;
  z-index: 5;
}

.expertise-area.learing {
  background: #100f2e;
  min-height: auto;
  padding-bottom: 200px;
}

.expertise-area.learing .learning-item {
  margin-top: 2rem;
}

.expertise-area.learing .learning-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.expertise-area.learing .learning-item h3 i {
  color: #ffb633;
}

.expertise-area.learing .learning-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.expertise-area.learing .learning-item li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1rem;
}

.expertise-area.learing .learning-item li span {
  display: block;
  color: #ffb633;
}

.expertise-area.learing .learning-item li::before {
  content: "";
  width: 2px;
  height: 80%;
  background-color: #ffb633;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-info {
  padding: 0 0 0 0;
  background-color: #0a0919;
  position: relative;
}

.contact-info::before {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #0a0919;
  position: absolute;
  top: -100px;
  left: 0;
  -webkit-clip-path: polygon(100% 100%, 50% 0, 0 100%);
          clip-path: polygon(100% 100%, 50% 0, 0 100%);
}

.contact-info .form-widget-inner {
  padding: 5rem 3rem;
}

.contact-info .form-widget {
  background-color: #0d0b21;
  position: relative;
  margin-top: -85px;
  position: relative;
  border-radius: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact-info .form-widget:focus-within::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/mail-open-outline.svg);
  background-size: 100% 100%;
  left: 3rem;
  top: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: updown 3s infinite ease-in-out;
          animation: updown 3s infinite ease-in-out;
}

.contact-info .form-widget:focus-within p {
  letter-spacing: 1px;
}

.contact-info .form-widget::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #ffb633;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.contact-info .form-widget h2 {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
  letter-spacing: -1px;
  position: relative;
  display: inline-block;
}

.contact-info .form-widget h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffb633;
  border-radius: 50%;
  right: 69px;
  top: 6px;
}

.contact-info .form-widget h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffb633;
  border-radius: 50%;
  left: 64px;
  top: 25px;
  -webkit-animation: scaling 3s infinite ease-in-out;
          animation: scaling 3s infinite ease-in-out;
}

.contact-info .form-widget h2 span {
  color: #ffb633;
}

.contact-info .form-widget p {
  color: #ffb633;
  margin-bottom: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-info .form-widget .form-widget-curve-divider {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #0a0919;
}

.contact-info .form-control {
  border-color: rgba(255, 182, 51, 0.3);
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 0.8rem;
  height: 50px;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-info .form-control::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
}

.contact-info .form-control:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
}

.contact-info .form-control::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
}

.contact-info .form-control::placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
}

.contact-info textarea.form-control {
  height: 100px;
}

@-webkit-keyframes scaling {
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes scaling {
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes updown {
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes updown {
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

footer {
  background-color: #0a0919;
  text-align: center;
  padding-bottom: 3rem;
}

footer p {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
}

footer a {
  color: #ffb633;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer a:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */